h1{
  text-align: center;
  margin-top: 20px;
}
.graph{
  width:100%;
  float:left;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color:white;
  border-width:5px;
  border-color:white;
  border-style:solid;
  padding-left:50px;
  padding-top: 30px;
}
.in{
  display:inline-block;
margin-right:5px;
}
span{
  display:inline-block;
  background-color:green;
  width:30px;
}
.question1{
height:100px;
}
.question2{
height:20px;
margin-left: 20px;
}
.question3{
height:50px;
}
.question4{
  height:100px;
}
.question5{
height:200px;
}
.sub{
  text-align: center;
}
input{
  text-align: center;
  padding:20px 40px;
}
