@charset "utf-8";
/* index */
header ul {
  width: 100.0vw;
  height: 16vw;
  position: relative;
  background: #dfdfdf;
  font-size: 0;
}
header ul li {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
header ul li.ico1 {
  left: 3.90625vw;
}
header ul li.ico2 {
  left: 26.0416666667vw;
}
header ul li.ico3 {
  right: 15.625vw;
}
header ul li.ico4 {
  right: 3.90625vw;
}
header ul li a {
  display: block;
  width: 100%;
  text-decoration: none;
}
header .img-wrap {
  text-align: center;
  margin-bottom: 1.30208333333vw;
}
header .ico2 .img-wrap {
  margin-bottom: 0;
}
header ul li a img {
  width: auto;
  height: 7.8125vw;
  text-align: center;
}
header ul li.ico2 a img {
  height: 13.0208333333vw;
}
header ul li a p {
  font-size: 3.125vw;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #181800;
  text-align: center;
}


.inner {
	padding: 10.53125vw 5.20833333333vw;
  font-size: 0;
}
.contentbox {
  display: inline-block;
  width: 50%;
  padding: 2.60416666667vw 0;
  margin-bottom: 5.20833333333vw;
}
.contentbox:nth-child(even) {
  border: none;
}
.contentbox a {
	display: block;
  width: 100%;
	height: 100%;
  text-decoration: none;
	color: #434b56;
}
.contentbox:nth-child(even) {
  margin-right: 0;
}
.contentbox .img-wrap {
  width: 23.4375vw;
  height: 23.4375vw;
  margin: 0 auto 5.20833333333vw;
  border-radius: 13.0208333333vw;
  border: 0.260416666667vw solid rgba(67, 75, 86, 0.25);
  text-align: center;
}
.contentbox img {
  width: 11.71875vw;
  height: auto;
  margin: calc(11.71875vw / 2) 0;
}
.contentbox h2 {
  text-align: center;
  font-size: 5.20833333333vw;
  font-weight: 500;
  margin-bottom: 5.20833333333vw;
}
