@charset "utf-8";
/* common use */
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:300,400,500,700&display=swap');
h1{
	text-align: center;
	margin: 20px 0;
}
.today-question h1 {
	font-size: 17px;
	line-height: 19px;
}
span{
	font-size:20px;
}
.today-question{
margin-top:15px;
margin-left:auto;
margin-right:auto;
width:80%;
border-width: 5px;
border-color: #99ff66;
border-style:dotted;
}
.answer{
margin-top:30px;
margin-bottom: 20px;
}
ul{
	text-align: center;
}
li{
	margin-left: 20px;
	display: block;
	margin-bottom: 10px;
}
li label p {
	display: inline;
}
input{
	margin-left:15px;
	margin-bottom:20px;
}
.next{
	text-align: center;
}
.submit{
	background-color: #555;
		color: #f7f7f7;
		padding-top:10px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 10px;
		margin: 10px;
		margin-bottom: 25px;
}
