@charset "utf-8";
/* common use */
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:300,400,500,700&display=swap');

main{
    text-align: center;
    background-color: #f7f7f7;
    padding: 4em 2em 2em 2em;
    position: relative;
}

h2{
  color: #555;
    display: inline-block;
    padding-bottom: 0.4em;
    border-bottom-style: double;
    border-bottom-width: 0.888888888889vw;
    margin-bottom: 4.44444444444vw;
}

input{
  background: #f7f7f7;
    border: none;
    text-decoration: none;
    padding-top: 2.22222222222vw;
    padding-top: 2.22222222222vw;
    font-size: 4.0vw;
    margin: 2.22222222222vw;
}

.btn{
  background-color: #555;
    color: #f7f7f7;
    padding-left: 4.44444444444vw;
    padding-right: 4.44444444444vw;
    padding-bottom: 2.22222222222vw;
    margin: 2.22222222222vw;
    margin-bottom: 5.55555555556vw;
    padding-top: 2.22222222222vw;
    margin-top: 5.55555555556vw;
}
.newUser{
  text-decoration: none;
  color: #5ce1e6;
}

.msgzz{
  color: red;
  display: block;
  text-align: center;
}

label{
  display: inline-block;
    width: 31.1111111111vw;
    margin-bottom: 2.22222222222vw;
}

.rememberMe{
  display: inline-block;
  margin: 2.22222222222vw;
}

.box{
  border-bottom: 0.444444444444vw solid #adadad;
    padding-top: 2.22222222222vw
}


.gender{
    margin-left: -11.1111111111vw;
}

.gender1{
    margin-left: 11.1111111111vw;
}

.entry{
    margin-bottom: 4.44444444444vw;
}