@charset "utf-8";
/* common use */
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:300,400,500,700&display=swap');



h2{
	color: #555;
    display: inline-block;
    padding-bottom: 0.4em;
    border-bottom-style: double;
    border-bottom-width: 4px;
    margin-bottom: 20px;
}

.btn{
	background-color: #555;
    color: #f7f7f7;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin: 10px;
    margin-bottom: 25px;
    padding-top: 10px;
}
.entry{
	display: block;
	text-align: center;
	padding: 20px;
}

.owari{
	display: block;
	text-align: center;
	margin-top: 20px;
}
input{
	background: #f7f7f7;
    border: none;
    text-decoration: none;
    padding-top: 10px;
    font-size: 18px;
    margin: 10px;
}

.widebtn{
	text-decoration: none;
	color: white;
	text-align: center;
	display: block;
}